<%- include ('../partials/header') %>
<div class="row">
        <h1 style="text-align:center">Login</h1>
        <div style="width: 30%;margin: 25px auto">
            <form action="/login" method="POST" role="form">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="" placeholder="User Name">
                </div>
                <div class="form-group">
                    <input type="text" name="password" class="form-control" id="" placeholder="Password">
                </div>
                <div class="form-group">
                    
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
            </form>
            
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
    <%- include ('../partials/footer') %>
