<% include ../partials/header.ejs%>
    <div class="container">
        <br>
        <form action="/register" method="POST" role="form">
            <legend>Register</legend>

            <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="username" class="form-control" id="" placeholder="User Name">
                <br>
                <label for="">Password</label>
                <input type="text" name="password" class="form-control" id="" placeholder="Password">
                <br>
                <label for="">Admin Code</label>
                <input type="text" name="admincode" class="form-control" id="" placeholder="Admin Code">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>

        </form>
    </div>